{% extends 'layout.html' %}

{% block view%}
	{% for content in contents %}
	<div class="card">
		<div class="card-body">
			<h3 class="text-center">{{content.title}}</h3>
			<p class="text-center">作者: {{content.user.username}} - 时间: {{content.addTime|date('Y-m-d h:i:s',-8*60)}} - 已阅读: {{content.views}} - 评论: {{content.comments.length}}</p>
			<p>简介: {{content.description}}</p>
			<a href="/view?contentid={{content.id}}" class="btn btn-outline-success">阅读全文</a>
		</div>
	</div><br>
	{% endfor %}
{% endblock %}